header div:nth-of-type(2n) {
  display: none;
}

h1 {
  margin-right: 0.5rem;
}

main {
  margin-top: 50px;
}

figure {
  position: relative;
}

img {
  display: block;
  width: 100%;
}

figcaption {
  left: 1.2rem;
  position: absolute;
  top: 0.8rem;
}

main section:nth-of-type(2n) figure {
  width: 50%;
}
.fifty-percent {
  width: 50%;
}
@media only screen and (min-width: 768px) {
  aside figure {
    float: left;
    height: 68.7rem;
    width: 20%;
  }

  aside img {
    height: 100%;
  }

  main figure:nth-of-type(2n) {
    float: left;
    width: 40%;
  }

  main figure:nth-of-type(3n) {
    float: left;
    width: 40%;
  }

  section {
    width: 80%;
  }

  section figure {
    width: 30%;
  }

  .thirty-percent {
    width: 30%;
  }
}

/* Classes that directly impact element Layout */

.clear-fix {
  clear: both;
}

.pull-left {
  float: left;
}

