header div:nth-of-type(2n) {
  display: none;
}

figure {
  position: relative;
}

img {
  display: block;
  width: 100%;
}

figcaption {
  left: 1.2rem;
  position: absolute;
  top: 0.8rem;
}

main section:nth-of-type(2n) figure {
  width: 50%;
}

/* Classes that directly impact element Layout */

.clear-fix {
  clear: both;
}

.pull-left {
  float: left;
}

.fifty-percent {
  width: 50%;
}